swagger: "2.0"
info:
  description: The Bitter Battles API.
  version: "1.0"
  title: Bitter Battles
host: api.bitterbattles.com
basePath: /v1
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /battles:
    get:
      tags:
        - battles
      summary: List battles
      description: Gets a list of battles.
      parameters:
        - $ref: "#/parameters/sort"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
      responses:
        200:
          description: Success.
          schema:
            $ref: "#/definitions/battleList"
    post:
      tags:
        - battles
      summary: Create a battle
      description: Creates a new battle.
      parameters:
        - in: body
          name: body
          description: The battle to create.
          required: true
          schema:
            $ref: "#/definitions/newBattle"
      responses:
        201:
          description: Success.
        400:
          description: One or more of the request parameters is invalid.
          schema:
            $ref: "#/definitions/errorResponse"
  /battles/{id}:
    delete:
      tags:
        - battles
      summary: Deletes a battle
      description: Deletes an existing battle by ID.
      parameters:
        - in: path
          name: id
          description: The ID of the battle.
          required: true
          type: string
      responses:
        204:
          description: Success.
  /logins:
    post:
      tags:
        - logins
      summary: Log in
      description: Logs a user in.
      parameters:
        - in: body
          name: body
          description: The login credentials.
          required: true
          schema:
            $ref: "#/definitions/credentials"
      responses:
        201:
          description: Success.
          schema:
            $ref: "#/definitions/loginResponse"
        400:
          description: One or more of the request body parameters is invalid.
          schema:
            $ref: "#/definitions/errorResponse"
  /users:
    post:
      tags:
        - users
      summary: Create a user
      description: Registers a new user.
      parameters:
        - in: body
          name: body
          description: The new user to register.
          required: true
          schema:
            $ref: "#/definitions/newUser"
      responses:
        201:
          description: Success.
        400:
          description: One or more of the request body parameters is invalid.
          schema:
            $ref: "#/definitions/errorResponse"
  /users/me/battles:
    get:
      tags:
        - users
      summary: Get my battles
      description: Gets battles created by the current user.
      parameters:
        - $ref: "#/parameters/sort"
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
      responses:
        200:
          description: Success.
          schema:
            $ref: "#/definitions/battleList"
  /votes:
    post:
      tags:
        - votes
      summary: Record a vote
      description: Creates a new vote.
      parameters:
        - in: body
          name: body
          description: The new vote to record.
          required: true
          schema:
            $ref: "#/definitions/newVote"
      responses:
        201:
          description: Success.
        400:
          description: One or more of the request body parameters is invalid.
          schema:
            $ref: "#/definitions/errorResponse"
  /votes/me/battles:
    get:
      tags:
        - votes
      summary: Get battles I've voted on
      description: Gets battles that the current user has voted on.
      parameters:
        - $ref: "#/parameters/page"
        - $ref: "#/parameters/pageSize"
      responses:
        200:
          description: Success.
          schema:
            $ref: "#/definitions/battleList"
parameters:
  sort:
    in: query
    name: sort
    description: How to sort the returned list.
    required: false
    type: string
    enum:
      - recent
      - popular
      - controversial
    default: recent
  page:
    in: query
    name: page
    description: The pagination page number.
    required: false
    type: integer
    default: 1
  pageSize:
    in: query
    name: pageSize
    description: The pagination page size.
    required: false
    type: integer
    default: 50
definitions:
  errorResponse:
    type: object
    properties:
      errorCode:
        type: integer
      errorMessage:
        type: string
  newBattle:
    type: object
    properties:
      title:
        type: string
      description:
        type: string
    required:
      - title
      - description
  battleList:
    type: array
    items:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        title:
          type: string
        description:
          type: string
        canVote:
          type: boolean
        votesFor:
          type: integer
        votesAgainst:
          type: integer
        createdOn:
          type: integer
          format: Epoch time (in seconds)
  credentials:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password
  loginResponse:
    type: object
    properties:
      accessToken:
        type: string
  newUser:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
      - username
      - password
  newVote:
    type: object
    properties:
      battleId:
        type: string
      isVoteFor:
        type: boolean
    required:
      - battleId
      - isVoteFor